<div class="main-card">
  <form [formGroup]="holidayForm" (ngSubmit)="savePackage()">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Holiday Name</mat-label>
          <input matInput formControlName="holidayName" required />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" required />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="holidayForm.get('date').hasError('required')">Date is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-checkbox color="primary" formControlName="isRecurring">Is Recurring</mat-checkbox>
      </div>

      <div class="col-md-3">
        <mat-checkbox color="primary" formControlName="isActive">Is Active</mat-checkbox>
      </div>
    </div>
  </form>
</div>
