.admin-sidebar {
    width: 250px;
    background-color: #34495e;
    color: white;
    padding-top: 70px !important;
    transition: width 0.5s ease;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;

    &.collapsed {
        width: 60px;
    }

    .toggle-btn {
        background: none;
        border: none;
        color: white;
        font-size: 2.2rem;
        margin-top: 5px;
        cursor: pointer;
    }

    .menu-search {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        border: none;
    }

        .sidebar-menu {
            list-style: none;
            padding: 0;
    
            li {
                margin: 0.25rem 0;
    
                a,
                .menu-group {
                    display: flex;
                    align-items: center;
                    padding: 7px;
                    text-decoration: none;
                    cursor: pointer;
                    color: white;
    
                    .material-icons {
                        margin-right: 0.5rem;
                    }
    
                    .expand-icon {
                        margin-left: auto;
                    }
    
                    &:hover {
                        background-color: #1abc9c;
                    }
                }
    
                .submenu {
                    padding-left: 2rem;
    
                    li {
                        a {
                            font-size: 0.95rem;
                        }
                    }
                }
            }
        }
}

.logo-img {
    width: 140px;
    height: auto;
}

.search{
    width: 80%;
}

.collapsed-btn {
    width: 20%;
    padding-left: 0px;
}

.menu-item{
    font-size: 16px;
    margin: 0.5rem;
}

.child-item{
    list-style-type: square;
}

.admin-sidebar::-webkit-scrollbar {
    width: 8px;
}

.admin-sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.admin-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.admin-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}