<aside [class.collapsed]="isCollapsed" class="admin-sidebar">
  <nav class="p-2">
    <div class="row">
      <div class="search" *ngIf="!isCollapsed">
        <input type="text" [formControl]="searchControl" placeholder="Search" class="menu-search" />
      </div>
      <div class="collapsed-btn" *ngIf="!isCollapsed">
        <button (click)="toggleSidebar()" class="toggle-btn">
          {{ isCollapsed ? '»' : '«' }}
        </button>
      </div>
      <button (click)="toggleSidebar()" class="toggle-btn" *ngIf="isCollapsed">
        {{ isCollapsed ? '»' : '«' }}
      </button>
    </div>

    <ul class="sidebar-menu">
      <ng-container *ngFor="let item of filteredItems">
        <!-- Parent without children -->
        <li *ngIf="!item.isGroup">
          <a [routerLink]="item.route" [class.active-tab]="isActiveRoute(item.route)">
            <span class="material-icons">{{ item.icon }}</span>
            <span class="menu-item" *ngIf="!isCollapsed">{{ item.title }}</span>
          </a>
        </li>

        <!-- Parent with children -->
        <li *ngIf="item.isGroup">
          <div class="menu-group" (click)="toggleGroup(item)">
            <span class="material-icons">{{ item.icon }}</span>
            <span class="menu-item" *ngIf="!isCollapsed">{{ item.title }}</span>
            <span class="material-icons expand-icon" *ngIf="!isCollapsed">
              {{ expandedGroups.has(item.title) ? 'expand_less' : 'expand_more' }}
            </span>
          </div>
          <ul *ngIf="!isCollapsed && expandedGroups.has(item.title)" class="submenu">
            <li *ngFor="let child of item.children" class="child-item">
              <a [routerLink]="child.route" [class.active-tab]="isActiveRoute(child.route)">
                <span class="material-icons">{{ child.icon }}</span>
                <span class="menu-item">{{ child.title }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>
</aside>
