.mobile-drawer {
    height: 100%;
    width: 100%;
}

.child-link {
    padding-left: 32px;
    font-size: 14px;
}

.mobile-nav{
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 1025;
    height: 100px !important;
}