<div class="mobile-nav">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
  </mat-toolbar>
  <!-- <div class="row">
    <ng-container *ngFor="let item of menuItems">
      <a mat-list-item [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
      </a>
      <div *ngIf="item.children">
        <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route">&nbsp;&nbsp;— {{ child.title }}</a>
      </div>
    </ng-container>
  </div> -->
</div>
