<ng-container *ngIf="!isSideBarCollapsed">
  <li [ngClass]="item.classes" [routerLinkActive]="['active']">
    <a [target]="item.target ? '_blank' : '_self'" [routerLink]="[item.url]" (click)="closeOtherMenu($event)" class="nav-item">
      <span *ngIf="item.icon" class="coded-micon">
        <mat-icon>{{ item.icon }}</mat-icon>
      </span>
      <span *ngIf="item.icon" class="coded-mtext mt-2">{{ item.title }}</span>
      <span *ngIf="!item.icon" class="coded-mtext mt-2">{{ item.title }}</span>
    </a>
  </li>
</ng-container>

<ng-container *ngIf="isSideBarCollapsed">
  <li [ngClass]="item.classes" [routerLinkActive]="['active']">
    <a [target]="item.target ? '_blank' : '_self'" [routerLink]="[item.url]" (click)="closeOtherMenu($event)" class="nav-item collapsed">
      <span *ngIf="item.icon" class="coded-micon only-icon">
        <mat-icon>{{ item.icon }}</mat-icon>
      </span>
      <span *ngIf="item.icon" class="coded-mtext mt-2">{{ item.title }}</span>
      <span *ngIf="!item.icon" class="coded-mtext mt-2">{{ item.title }}</span>
    </a>
  </li>
</ng-container>
