<app-nav-bar></app-nav-bar>
<app-mobile-nav-bar *ngIf="hideNavBar" #mobileNav></app-mobile-nav-bar>
<div class="admin-layout">
  <div class="admin-body">
    <app-sidebar *ngIf="!hideNavBar"></app-sidebar>
    <div class="admin-content">
      <app-breadcrumb [topValue]="mobileNavHeight"></app-breadcrumb>
      <div class="dashboard-router">
        <mat-card class="h-83">
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
  <app-quick-panel></app-quick-panel>
</div>
