.search-bar{
    width: 250px;
    height: 57px;
    padding-left: 10px;
}

.nav-header {
    display: flex;
    align-items: center;
    background-color: #333; // Dark background for better contrast
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Light shadow for modern look
}

.search-field {
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: none;
    height: 37px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper{
    padding: 0px !important;
}

mat-form-field {
    width: 100%;
}

mat-input-element {
    padding-left: 32px; // Give space for the search icon
}

mat-icon {
    font-size: 20px;
}

.toggle-sidebar-btn {
    background: none;
    border: none;
    color: #fff; // White icon for better visibility
    padding: 8px;
}

.toggle-sidebar-btn mat-icon {
    font-size: 24px; // Make the icon a bit larger for better visibility
}

button.mat-icon-button:hover {
    background-color: rgba(255, 255, 255, 0.1); // Add subtle hover effect
}

.side-menu{
    overflow-y: scroll;
    height: calc(100vh - 100px);
}