@for (breadcrumb of navigationList; track breadcrumb; let last = $last) {
  @if (last && breadcrumb.breadcrumbs !== false) {
    <div class="page-header">
      <div class="col-md-12 d-flex">
        <div class="col-8">
          <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item">
              <a [routerLink]="['/home']" title="Home" class="home"><mat-icon>home</mat-icon></a>
            </li>
            @for (breadcrumb of navigationList; track breadcrumb) {
              @if (breadcrumb.url !== false) {
                <li class="breadcrumb-item mt-1">
                  <a [routerLink]="breadcrumb.url" class="large-font">{{ breadcrumb.title }}</a>
                </li>
              }
              @if (breadcrumb.url === false && breadcrumb.type !== 'group') {
                <li class="breadcrumb-item mt-1">
                  <a href="javascript:" class="large-font">{{ breadcrumb.title }}</a>
                </li>
              }
            }
          </ul>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center toolbar-buttons">
          <ng-container *ngFor="let action of toolbarButtons; let last = last">
            <button
              mat-flat-button
              color="primary"
              [disabled]="action.isDisabled"
              (click)="toolbarBtnClick(action)"
              class="toolbar-btn my-2"
              [ngClass]="{ 'margin-right': last }"
            >
              <ng-container *ngIf="!action.isLoading; else loadingIcon">
                <mat-icon class="btn-icon">{{ action.icon }}</mat-icon>
              </ng-container>
              <ng-template #loadingIcon>
                <mat-spinner class="spinner" diameter="20" strokeWidth="2"></mat-spinner>
              </ng-template>
              <span class="btn-text">{{ action.title }}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  }
}
