::ng-deep .snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

::ng-deep.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

::ng-deep .snackbar-warning {
  background-color: #ff9800 !important;
  color: white !important;
}
