<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="text-center title">Welcome to Iron Forge Fitness Center</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-content mt-2">
        <div class="logo-container">
          <img src="assets\images\logo.png" alt="Fuel Management System Logo" class="logo" />
        </div>

        <div class="info-text">
          <p class="text-center">Sign in with your Google account to access the system.</p>
          <p class="note">Note: Only authorized users can access the system. If you're a new user, please contact your administrator.</p>
        </div>

        <div *ngIf="error" class="error-message">
          {{ error }}
        </div>

        <div class="signin-container">
          <div id="googleSignIn"></div>
        </div>

        <div *ngIf="loading" class="loading-container">
          <mat-spinner diameter="30"></mat-spinner>
          <span>Authenticating...</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
