.col-1 {
  flex: 0 0 auto !important;
  width: 5.333333% !important;
}

.col-7 {
  flex: 0 0 auto;
  width: 61.333333%;
}

.toolbar {
  display: flex;
  align-items: center;
  height: 35px;
  box-sizing: border-box;

  ;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.back-button {
  margin-left: 0;
  padding: 0 8px;
  height: 100%;
}

.toolbar-title {
  display: flex;
  align-items: flex-start;
  height: 100%;
  border-right: hidden !important;
  border-radius: 4px 0 0 4px !important;
}

.toolbar-header {
  margin-top: 3px;
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.mat-button-toggle-group {
  display: flex;
}

.toolbar-action-button {
  padding: 6px 12px;
  height: auto;
  margin-right: 3px;

}
