// main framework
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/variables-dark';

@import 'scss/settings/color-variables';
@import 'scss/settings/theme-variables';
@import 'scss/settings/bootstrap-variables';

// bootstrap import
@import 'scss/bootstrap/bootstrap.scss';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/utilities/api';

@import 'scss/themes/components/components.scss';
@import 'scss/themes/layouts/navbar/navbar.scss';

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card{
  margin: 0.5rem;
  padding: 10px;
}

form {
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1.5rem;

  button {
    height: 30px;
    font-size: 14px;
    padding: 0 16px;
  }

    .mat-mdc-form-field {
      width: 100%;
      font-size: 13px;
  
      .mat-mdc-text-field-wrapper {
        padding: 0 12px;
      }
  
      .mat-mdc-floating-label {
        font-size: 13px;
      }
  
      .mat-mdc-form-field-subscript-wrapper {
        font-size: 11px;
        padding-top: 2px;
      }
  
      &.mat-form-field-invalid {
        --mdc-outlined-text-field-outline-color: #e53935;
        --mdc-outlined-text-field-focus-outline-color: #e53935;
      }
  
  
      .mat-mdc-form-field-infix {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        min-height: 30px !important;
      }
    }
  
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 50% !important;
    }
  
    .mat-mdc-input-element,
    .mat-mdc-select-value {
      font-size: 14px;
      line-height: 1.4;
    }
}

.mat-mdc-select-panel {
  padding: 0px !important;
}

mat-paginator {
  .mat-mdc-form-field-infix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    min-height: 30px !important;
  }
}

.mat-mdc-option{
  min-height: 35px !important;
}

button mat-icon {
  font-size: 18px;
}

mat-label{
  font-weight:500;
  color: black;
}

.main-card{
  margin: 1rem !important;
}

.app-mat-card{
  padding:2rem 1rem !important;
  margin: 4.5rem 0.5rem 0.8rem 0.8rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  height: 83vh !important;
}

.font-bold{
  font-weight: bold;
}

input{
  font-size: 14px !important;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.cdk-overlay-pane {
  z-index: 2001 !important;
}

.custom-snackbar{
  font-size: large;
}

::ng-deep .snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

::ng-deep.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

::ng-deep .snackbar-warning {
  background-color: #ff9800 !important;
  color: white !important;
}

.mat-mdc-form-field-required-marker {
  color: red !important;
}