<div class="main-card">
  <form [formGroup]="filterForm">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Holiday Name</mat-label>
          <input matInput placeholder="Enter name" formControlName="holidayName" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="table-container m-3">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">
      <!-- ID Column -->
      <ng-container matColumnDef="HolidayId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Package Code</th>
        <td mat-cell *matCellDef="let holiday">{{ holiday.HolidayCode }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="HolidayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Package Name</th>
        <td mat-cell *matCellDef="let holiday">{{ holiday.HolidayName }}</td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let holiday">{{ holiday.Date | date: 'MM/dd/yyyy' }}</td>
      </ng-container>

      <!-- Duration -->
      <ng-container matColumnDef="IsRecurring">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IsRecurring</th>
        <td mat-cell *matCellDef="let holiday">
          <mat-icon color="primary" *ngIf="holiday.IsRecurring">check_circle</mat-icon>
          <mat-icon color="warn" *ngIf="!holiday.IsRecurring">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
        <td mat-cell *matCellDef="let holiday">
          <mat-icon color="primary" *ngIf="holiday.IsRecurring">check_circle</mat-icon>
          <mat-icon color="warn" *ngIf="!holiday.IsRecurring">cancel</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
